<div class="w-full max-w-6xl mx-auto text-center">
    <div class="text-4xl font-bold tracking-tighter my-6">Non-authenticated home page</div>
    <div class="text-xl text-zinc-600 max-w-prose">Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed posuere consectetur est at lobortis. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</div>
</div>